body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

.container {
    max-width: 680px;
    margin: 50px auto;
    padding: 40px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form label {
    font-weight: bold;
    font-size: 24px;
}

.register-form input {
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #5f5f5f;
}

.submit-btn {
    margin-top: 60px;
    padding: 14px;
    background: #ff5555;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 26px;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    font-size: 20px;
    color: #0073cc;
    text-decoration: none;
}

.profile-image-area {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.profile-circle {
    width: 150px;
    height: 150px;
    background: #e5e5e5;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.profile-circle img.profile-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.upload-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #ff5555;
    font-size: 20px;
    border: 1px solid #ff5555;
    border-radius: 6px;
    cursor: pointer;
}

.upload-btn input[type="file"] {
    display: none;
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
    gap: 20px;
}

.confirmation-message {
    font-size: 24px;
    line-height: 1.8;
}

.confirm-btn {
    padding: 14px 28px;
    font-size: 24px;
    background-color: #d9d9d9;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.alert {
    background-color: #ffe5e5;
    border: 1px solid #ff5555;
    color: #ff5555;
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.alert p {
    margin: 0;
    font-size: 16px;
}

.alert-danger{
    color: #ff5555;
}